@import '../../scss/lib/themes';

.landing{
  .join-container{
    .join-inner{
      p{
        float: right;
        margin-right: $margin-sm;
      }
      a{
        clear: both;
        float: right;
        font-weight: bold;
      }
    }
  }
  .clearfix{
    clear: both;
  }
}
