<uib-accordion class="accordion">
  <li uib-accordion-group class="gallery-item panel-default" heading="{{galleryItemCtrl.gallery.name}}" >
    <div class="current-item" ng-if="!galleryItemCtrl.showEditGallery">
      <div>
        <span class="item-label">name:</span>
        <span>{{ galleryItemCtrl.gallery.name}}</span>
      </div>
      <div>
        <span class="item-label">description:</span>
        <span>{{ galleryItemCtrl.gallery.desc}}</span>
      </div>
    </div>

    <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>

    <div class="btn-container" ng-if="!galleryItemCtrl.showEditGallery">
      <button class="btn-sec"  ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">edit</button>
      <button class="btn-sec"  ng-click="galleryItemCtrl.deleteGallery()">delete</button>
    </div>

  </li>
</uib-accordion>
