@import '../../../scss/lib/themes';


.thumbnail{
  clear: both;
  position: relative;
  img{
    margin: $margin-std 0;
    width: 100%;
  }
  button{
    font-weight: bold;
    width: auto;
    position: absolute;
    top: 25px;
    right: 10px;
  }
}
